@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@500&display=swap');

body{
        font-family: 'Trebuchet MS', sans-serif;
        background-image: url("table.png");
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
        color: white;
        font-weight: 800;
    }

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#start-btn, #newcard-btn{
    border-radius: 4px;
    border: none;
    padding: 6px;
    font-size: 20px;
    color: #016f32;
    width: 200px;
    background-color: goldenrod;
    font-weight: bold;
    margin: 4px;
}
#start-btn:hover, #newcard-btn:hover{
    cursor: pointer;
}
