/* Body */
body {
    margin: 0px;
    padding: 10px;
    font-family: 'Arial';
    min-width: 400px;
}


/* Input */
#input-el {
    width: 100%;
    background-color: #e9faff;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #5f9341;
}



/* Buttons */
#save-btn {
    background-color: #5f9341;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    margin-top: 5px;
}

#save-btn:hover {
    background-color: #6ba549;
    cursor: pointer;
}

#delete-btn {
    background-color: white;
    border: 1px solid #eaeaea;
    padding: 10px 20px;
    color: #5f9341;
    font-weight: 600;
    margin-top: 5px;
}

#delete-btn:hover {
    background-color: whitesmoke;
    cursor: pointer;
}



/* Display List */
.list-container ul {
    padding: 0;
    margin-top: 20px;
}

.list-container li {
    list-style-type: none;
    margin: 5px 0px;
}

.list-container li a {
    color: #6ba549;
}