@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(194, 230, 255);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 20px;
}

h2 {
    color: darkslategrey;
    padding: 5px 20px;
}

/* All Image */
.image-container {
    width: auto;
    height: auto;
}
img {
    padding: 50px;
    background-color: rgb(201, 201, 201);
    height: 52vh;
    max-width: 65vw;
    width: auto;
    border-radius: 4px;
    /* filter: ; */
}

.all-filter-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    overflow:auto;
}

/* Filter Container */
.filters-container {
    width: 23vw;
    padding: 15px;
    border: 1px solid darkgray;
    margin-right: 2rem;
}
.disable {
    pointer-events: none;
    opacity: 0.3;
}

h3 {
    margin: 10px;
}

/* All Buttons */
button {
    padding: 13px 15px;
    background-color: white;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 3px;
    font-size: 15px;
}

/* Filter Buttons */
.filter-btn {
    text-align: center;
}

.filter-btn button {
    margin: 4px 2px;
    width: 8rem;
}

.filter-btn button:hover{
    border: 1px solid #5372F0;
    background-color: #5372F0;
    cursor: pointer;
    color: white;
}

.active {
    border: 1px solid #5372F0;
    background-color: #5372F0;
    cursor: pointer;
    color: white;
}

/* Range Slider */
.progress-container {
    margin: 15px 10px;
}

.progress-container input {
    width: 100%;
    height: 5px;
    color: #5372F0;
}

.progress-container input:hover {
    cursor: pointer;
    color: #5372F0;
}

.progress-text {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

/* Rotate Buttons */
.rotate-container {
    padding: 10px;
    text-align: center;
}

.rotate-btns button {
    margin: 0 6px;
}

.rotate-btns button:hover {
    border: 1px solid #5372F0;
    background-color: #5372F0;
    cursor: pointer;
    color: white;
}


/* Bottom Buttons */
.btns-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
}
.reset-btn button {
    text-transform: uppercase;
    font-size: 14px;
}
.reset-btn button:hover {
    background-color: #5372F0;
    color: white;
    border: 1px solid #5372F0;
    cursor: pointer;
}

.choose-save button:first-of-type{
    margin: 0 4px; 
    background-color: grey;
    color: white;
    border: 1px solid grey;
    text-transform: uppercase;
    font-size: 14px;
}
.choose-save button:first-of-type:hover {
    background-color: rgb(112, 112, 112);
    cursor: pointer;
    border: 1px solid rgb(112, 112, 112);
}

.choose-save button:last-of-type{
    margin: 0 0 0 4px; 
    background-color: #5372F0;
    color: white;
    border: 1px solid #5372F0;
    text-transform: uppercase;
    font-size: 14px;
}
.choose-save button:last-of-type:hover {
    background-color: #3158f5;
    border: 1px solid #3158f5;
    cursor: pointer;
}

.file-input {
    visibility: hidden;
}